.profile-icon {
  flex: 0 0;
  flex-basis: 35px;
  background-color: darkblue;
  width: 35px;
  height: 35px;
  text-align: center;
  align-content: center;
  font-weight: bold;
  border-radius: 100%;
  border: 1px solid white;
}
